// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #b3bf00;
  --ion-color-primary-rgb: 244, 169, 50;
  --ion-color-primary-contrast: #424449;
  --ion-color-primary-contrast-rgb: 66, 68, 73;
  --ion-color-primary-shade: #B16532;
  --ion-color-primary-tint: #f5b247;

  --ion-color-secondary: #2BBC6A;
  --ion-color-secondary-rgb: 43, 188, 106;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #26a55d;
  --ion-color-secondary-tint: #40c379;

  --ion-color-tertiary: #BF6C00;
  --ion-color-tertiary-rgb: 31, 95, 76;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #986727;
  --ion-color-tertiary-tint: #ff9206;

  --ion-color-info: #1eacd3;
  --ion-color-info-rgb: 30, 172, 211;
  --ion-color-info-contrast: #ffffff;
  --ion-color-info-contrast-rgb: 255, 255, 255;
  --ion-color-info-shade: #1a97ba;
  --ion-color-info-tint: #22C3F0;

  --ion-color-success: #6C937D;
  --ion-color-success-rgb: 108, 147, 125;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #5f816e;
  --ion-color-success-tint: #7b9e8a;

  --ion-color-danger: #BC2B2B;
  --ion-color-danger-rgb: 188, 43, 43;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a52626;
  --ion-color-danger-tint: #c34040;

  --ion-color-dark: #003A49;
  --ion-color-dark-rgb: 3, 49, 60;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1c4650;
  --ion-color-dark-tint: #1c4650;

  --ion-color-medium: #808080;
  --ion-color-medium-rgb: 128, 128, 128;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #717171;
  --ion-color-medium-tint: #8d8d8d;

  --ion-color-light: #dbe4e4;
  --ion-color-light-rgb: 219, 228, 228;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c1c9c9;
  --ion-color-light-tint: #dfe7e7;
  --ion-font-family: 'enriquetaregular';
}
$content-background: #03313C url('/assets/img/background.png') no-repeat center top / 125% auto;
