.ion-page.can-go-back ion-back-button + ion-menu-button {
  display: none;
}

ion-button.has-badge {
  height: 38px;

  ion-icon {
    position: relative;
    left: -0.15rem;
  }
}

ion-button ion-icon + ion-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  pointer-events: none;
}

ion-button[expand="full"] {
  --border-radius: 0;
  --padding-start: 0;
  --padding-end: 0;
  width: auto;
  height: 100%;
  margin: 0;
}

ion-button[size="small"] {
  font-weight: 600;
  text-transform: none;

  &[shape="round"] {
    --border-radius: 50px;
  }
}

.plt-ios ion-ripple-effect {
  display: none;
}

.align-icons {

  --min-button-label-width: 50px;

  ion-text {
    min-width: var(--min-button-label-width);
    text-align: left;
    margin-left: 10px;
    margin-top: 2px;
  }

}
